<% provide(:title, 'Home') %>

<html>
	
	<link rel="stylesheet" type="text/css" href="custum.css">
	<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> 

  <body>
	<div id="webseite">
		<div id= "menue">
		
			<div id="review">

		        
		        <table class="contend_left_table">
					
					<tr>
						
						<td>
							
							
							<strong id = "strong">Hochschulausbildung</strong>
							<p>09/2012</p>
							
								<p>
								<strong id = "bb">Brandenburgische Technische Universität Cottbus</strong>
								<br />
								Stadt- und Regionalplanung - Master of Science
								Thema der Master Thesis:
								Hamburg Hebebrandquartier - Wohnen an innerstädtischen 
								Randsituationen
								Brandenburgische Technische Universität Cottbus
								Stadt- und Regionalplanung - Bachelor of Science 
								Thema der Bachelor Thesis: 
								Hamburg Hamm-Süd - Leben und Arbeiten am Billebecken
								</p>		
						</td>					
					</tr>
					<tr>
						
						<td>
							
							<p>09/2010</p>
							<p>
							<strong id= "bb">Brandenburgische Technische Universität CottbusStadt- und Regionalplanung - Bachelor of Science </strong>
							<br />
							Thema der Bachelor Thesis: 
							<br />
							Hamburg Hamm-Süd - Leben und Arbeiten am Billebecken
							</p>
							</td>
						
					</tr>
					<tr>
						
						<td>
							
							<strong id = "strong">Hochschulausbildung</strong>
							<p>08/1999 - 06/2007</p>
							<p>
							<strong id= "bb">Goethe-Gymnasium, Berlin-Wilmersdorf</strong>
							<br />
							Abitur				
							</p>
							</td>
						
					</tr>
					
				</table>
			</div>
		

			<div id="review2">
	
				<table class="contend_right_table">
					
					<tr>
						<td>
							<strong id = "strong">Berufliche Erfahrungen und Praktika</strong>
							<p>seit 10/2011</p>
							<p>
							<strong id= "bb">Café Einstein, Adenauer Platz, Berlin</strong>
							<br />
							Barista				
							</p>

							<p>04/2011 - 12/2012</p>
							<p>
							<strong id= "bb">Vocio Teehaus GmbH, Berlin</strong>
							<br />
							Barista				
							</p>
			
							<p>09/2010 - 03/2011</p>
							<p>
							<strong id= "bb">Lavazza Espresso Bar Alexa, Berlin</strong>
							<br />
							Barista				
							</p>
							
							<p>02 - 04/2010</p>
							<p>
							<strong id= "bb">Quartiersmanagement Zentrum Kreuzberg, Berlin</strong>
							<br />
							Praktikum			
							</p>
							
							<p>06/2008 - 08/2010</p>
							<p>
							<strong id= "bb">Café Einstein, Checkpoint Charlie, Berlin</strong>
							<br />
							Barista			
							</p>
							
							<p>09/2007</p>
							<p>
							<strong id= "bb">Planungsbüro für Haustechnik Krüger, Berlin</strong>
							<br />
							Praktikum		
							</p>
							
							<p>07 - 08/2007</p>
							<p>
							<strong id= "bb">Malerei- und Trockenbaubetrieb Kramer, Berlin</strong>
							<br />
							Aushilfe		
							</p>
							
							<p>01/2004</p>
							<p>
							<strong id= "bb">KaDeWe, Abteilung Photo und Optik, Berlin</strong>
							<br />
							Praktikum	
							</p>
							</td>
					</tr>
					
					
				
				
				
				
				
				
				</table>
				
				
				
				
			</div>
			
				<div id="skillbar"
					<div class="content">
				   	 <div class="col">
				    	<h2>Softwarekentnisse: </h2>
					       	<ul id="skill">
						        <li><span class="expand Rhinoceros"></span><em>Rhinoceros</em></li>
						        <li><span class="expand VectorWorks"></span><em>VectorWorks</em></li>
						        <li><span class="expand ArchiCad"></span><em>ArchiCad</em></li>
						        <li><span class="expand MaxwellRenderer"></span><em>MaxwellRenderer</em></li>
						        <li><span class="expand Illustrator"></span><em>Illustrator</em></li>
						        <li><span class="expand photoshop"></span><em>Photoshop</em></li>
						        <li><span class="expand InDesign"></span><em>InDesign</em></li>
						        <li><span class="expand MSOffice"></span><em>MSOffice</em></li>
					       	</ul>
				    	</div>
					</div    
			    </div>
	
	</div>
	
	<div id="header_1">
		<h2>Trutz-Benjamin Detlefs  |  18.01.1989  |  Weitlingstraße 105 | 10317 Berlin |  trutz.detlefs@gmail.com  |  0173/6242827</h2>
	</div>
		
	<div class="ph-line-nav nav">
		<ul>
			<a href="home">home</a>
			<a href="kontakt">kontakt</a>
			<a href="projekte">projekte</a>
			
			<div class="effect"></div>
		</ul>
	</div>
	
	</div>
	
</body>

</html>