<% provide(:title, 'Master Thesis') %>

<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="custum.css">
		<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
		<script src="pic.js" type="text/javascript"></script> 	   
	   	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> 
 	</head>
 	
 	
   	<body>
		<div id="webseite">
			<div id= "menue">
						
			<!-- wrapper element for the large image -->
				<div id="image_wrap">
				 	 <!-- Initially the image is a simple 1x1 pixel transparent GIF -->
				  	<img src="/p1/Title_smal.jpg" width="500" height="375" /> 	
				</div>
				
				<!-- wrapper element for the large image -->
				<div id="text_area">
				 	 
				 	<table class="image_text">
					<tr>
						<td>
				 	 <p>
						Die Bevölkerungsanzahl der Freien Hansestadt Hamburg stieg 
						in den letzten zehn Jahren stetig an und wird laut Prognosen 
						des statistischen Bundesamtes auf über 1,8 Millionen Einwoh-ner im Jahre 2020 angestiegen sein. Doch wie in allen deut-schen Großstädten wird der Wohnraum, vor allem in innerstäd-tischer Lage, immer knapper und teurer. Bis 2020 sollen zwar 
						ca. 42.000 neue Wohneinheiten errichtet werden, allerdings 
						wird aufgrund der bestehenden Nachfrage und des Nachfrage-zuwachses eine Angebotslücke von ca. 64.000 Wohneinheiten 
						prognostiziert.
						Um dieser Entwicklung entgegenzuwirken beschloss der Ham-burger Senat in Abstimmung mit den Bezirken ein neues Woh-nungsbauprogramm, welches sich als Ziel gesetzt jährlich den 
						Bau von 6.000 Wohneinheiten zu ermöglichen. Bei jedem neu 
						geplanten Geschosswohnungsbau sollen dabei mindestens 
						20% der Wohnungen nach dem Schlüssel für sozial geförder-ten Wohnungsbau entworfen werden, da nicht nur neuer, son-dern auch bezahlbarer Wohnraum benötigt wird.
						Verbunden sind mit dieser Zielsetzung bezirkliche Wohnungs-bauprogramme, in deren Rahmen die sieben Hamburger Be-zirke aufgefordert sind, konkrete Flächenpotenziale für die 
						Entwicklung neuer oder die Weiterentwicklung vorhandener 
						Quartiere zu benennen. Im Bezirk Hamburg-Nord, der vorran-gig bezahlbaren Wohnraum für junge Familien und ältere Men-schen benötigt, wurde hier insbesondere eine Fläche östlich 
						der City Nord identifiziert. Diese ist im Flächennutzungsplan von 1997 überwiegend für 
						den Wohnungsbau vorgesehen und heute im Wesentlichen mit 
						Kleingartenparzellen belegt (ca. 330 ersatzlandpflichtige Par-zellen auf einer Fläche von etwa 27 Hektar): 
		
				 	 </p>
				 	 	 
				 	 <p>
				 	 
						Das sich in Nord-Süd-Richtung ausdehnende Areal am öst-lichsten Rand des Stadtteils Winterhude, westlich angrenzend 
						an den Stadtteil Barmbek-Nord ist von mehreren U- oder S-Bahnstationen fußläufig erreichbar. Östlich wird das Gebiet 
						von einer, von der S-Bahn und dem Güterverkehr befahrenen, 
						Bahntrasse mit hoher Lärmemission begleitet. 
						Des Weiteren wird das Areal von der Jahnbrücke, welche über 
						ein tägliches Verkehrsaufkommen von knapp 40.000 PKW ver-fügt, geteilt und im Norden von einer Bundesstraße mit ähnlich 
						hohem Verkehrsaufkommen begrenzt.
						Die Herausforderung liegt darin, unter diesen erschwerten Be-dingungen ein neues Wohnquartier zu planen, welches städte-baulich und wohntypologisch auf die hohen Lärmemissionen 
						reagiert. Zugleich muss das neue Quartier die Lücke im Stadt-gefüge zwischen der City-Nord im Westen, dem Campus der 
						Hafen-City-Universität im Norden, der gründerzeitlichen Bau-struktur im Westen und des neu erschlossenen Wohngebietes 
						„Park Lane“ auf dem ehemaligen Güterbahnhof im Süden, un-ter Berücksichtigung des Stadtparks als Naherholungsgebiet, 
						gekonnt schließen
				 	 </p>
				 	 
				 	 	</td>
				 	 		
				 	 </table>
				 	 
				</div>


	
		</div>
	<div id="header_3">
		<h4>Master Thesis</h4>
	</div>
		<div id="underheader_1">
		<div id ="projects_underheader">Hamburg Hebebrandquartier:„Wohnen an Innerstädtischen Randsituationen“</div>	
	</div>
		
	<div class="ph-line-nav nav">
		<ul>
			<a href="home">home</a>
			<a href="kontakt">kontakt</a>
			<a href="projekte">projekte</a>
			
			<div class="effect"></div>
		</ul>
	</div>
	
	</div>
	
</body>

</html>