<% provide(:title, 'Projekte') %>

<html>
	
	<link rel="stylesheet" type="text/css" href="custum.css">
	<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> 

  <body>
	<div id="webseite">
		<div id= "menue">
		
	        <div id="fill">
			
	        </div>
			<div id="project_container_1">	
			<h3><a href="masterthesis">Master Thesis</a></h3>
			</div>
			
			<div id="project_container_1_2">	
			<p id = "line2">Hamburg Hebebrandquartier:„Wohnen an Innerstädtischen Randsituationen“</strong>
			</div>
			<div id="fill">			
	        </div>
	        <div id="project_container_2">
					<h3><a href="stegreif">Stegreif</a></h3>
			</div>
			<div id="project_container_2_2">	
								<p id = "line2">Ufergestaltung Bergbaufolgelandschaft Klinge / 2.Preis</strong>

			</div>
			<div id="fill">
			
		
	        </div>
	        <div id="project_container_3">
					<h3><a href="schinkel157">157. Schinkel Wettbewerbf</a></h3>
			</div>
			
			<div id="project_container_3_2">	
								<p id = "line2">Potsdam - Ideale Realitäten: „Brückenschlag über die Havel“</strong>

			</div>
			<div id="fill">			
	        </div>
			
			
			<div id="project_container_4">
					<h3><a href="schinkel156">156. Schinkel Wettbewerbf</a></h3>

			</div>
			<div id="project_container_4_2">	
					<p id = "line2">Potsdam - Ideale Realitäten: „Brückenschlag über die Havel“</strong>

			</div>
			<div id="fill">			
	        </div>
			
			
	
	
	<div id="header_2">
	<h2></h2>
	</div>
		
		<div class="ph-line-nav nav">
		<ul>
		<a href="home">home</a>
		<a href="kontakt">kontakt</a>
		<a href="projekte">projekte</a>
		<div class="effect"></div>
		</ul>
	</div>
	
	</div>
	

	
</body>
</html>