<% provide(:title, '157. Schinkel Wettbewerb') %>

<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="custum.css">
		<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
	   	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> 
 	</head>
 	
 	
   	<body>
		<div id="webseite">
			<div id= "menue">
		
			<!-- wrapper element for the large image -->
				<div id="image_wrap">
				 	 <!-- Initially the image is a simple 1x1 pixel transparent GIF -->
				  	<img src="/p3/schinkel157.jpg" width="500" height="375" /> 	
				</div>
				
				<!-- wrapper element for the large image -->
				<div id="text_area">
				 	 
				 	<table class="image_text">
					<tr>
						<td>
				 	 <p>
						Die Quartiere Zentrum Süd und Zentrum Ost bergen große 
						Entwicklungspotentiale bei dem zu erwartenden Wachstum der 
						Stadt Potsdam. Allerdings nutzt die derzeitige Struktur an vie-len Stellen nur unzureichend die vorhandenen Qualitäten. in 
						dem entworfenen Konzept entwickelt sich die Stadt zum einen 
						vom Hauptbahnhof ins Zentrum Ost und zum anderen vom 
						alten Markt ins Zentrum Süd.
						Die Grundidee besteht darin, der Stadt Potsdam durch eigen-ständige, jedoch in Beziehung stehende Quartiere eine solide 
						urbane Struktur zu geben. Hohe Priorität haben dabei die Grün-räume, welche durch die baulichen Strukturen gefasst und ak-zentuiert werden.
						Der zweite wichtige Aspekt ist die Schaffung eines Wegenet-zes, welches vielschichtige Anforderungen zu erfüllen hat: es 
						verbindet in sinnvoller Weise die Quartiere und wichtige Orte, 
						schafft Sichtbeziehungen und bildet gleichzeitig als Gesamt-struktur eine Abfolge von Plätzen und Grünräumen, die sich 
						durch Potsdam ziehen und den urbanen Kern umschließen und 
						Teil dessen sind. Die Rekonstruktion des Stadtkanals ist ein 
						wichtiger Bestandteil dieses Vorhabens.
				 	 </p>
				 	 
				 	 <p>
						Parallel zum Kanal verbindet eine Fußgängerzone das Quartier 
						Zentrum Süd über eine neue Brücke direkt mit dem Quartier 
						Zentrum Ost. Die Brücke mündet auf einem Platz mit Sonder-bau und Marina. Von der Französischen Kirche wurde die Ach-se bis zum neuen Anbau des Rathauses gezogen, an welchem 
						sie abknickt und durch 2 neue Brücken über die Freundschafts-insel zum Bahnhoh führt. 2 weitere Brücken über die Nuthe sor-gen für eine bessere Verbindung des Quartiers Zentrum Ost. 
						Vor dem Bahnhof und gegenüber der Freundschaftsinsel weitet 
						sich der Grüngürtel zu einem Grünraum aus in dem sich ver-schiedene Wege der Quartiere treffen. 				 
				 	 </p>
				 	 
				 	 	</td>
				 	 		
				 	 </table>
				 	 
				</div>


		</div>
	
	
	<div id="header_5">
		<h4>157. Schinkel Wettbewerb</h4>
	</div>
		<div id="underheader_3">
		<div id ="projects_underheader">Potsdam - Ideale Realitäten: „Brückenschlag über die Havel“
kontakt home</div>	
	</div>
		
	<div class="ph-line-nav nav">
		<ul>
			<a href="home">home</a>
			<a href="kontakt">kontakt</a>
			<a href="projekte">projekte</a>
			
			<div class="effect"></div>
		</ul>
	</div>
	
	</div>
	
</body>

</html>