<% provide(:title, '156. Schinkel Wettbewerb') %>

<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="custum.css">
		<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
	   	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> 
 	</head>
 	
 	
   	<body>
		<div id="webseite">
			<div id= "menue">
		
			<!-- wrapper element for the large image -->
				<div id="image_wrap">
				 	 <!-- Initially the image is a simple 1x1 pixel transparent GIF -->
				  	<img src="/p4/schinkel156_smal.jpg" width="500" height="375" /> 	
				</div>
				
				<!-- wrapper element for the large image -->
				<div id="text_area">
				 	 
				 	<table class="image_text">
					<tr>
						<td>
				 	 <p>
						Das Campusgelände der TU und UdK Berlin soll als eine Ein-heit und Ort der Begegnung verstanden werden. Studenten, 
						Lehrende sowie Besucher und Nachbarn bekommen ein viel-seitiges Angebot an Aktionsflächen und Nutzungsmöglichkei-ten der Grünräume. Alle Akteure haben unterschiedliche Be-dürfnisse an das Wegesystem auf dem Gelände. Durch eine 
						Hierarchisierung der Wege soll zum einen eine schnelle Durch-wegung gewährleistet sein und es zum anderen aber auch im-mer wieder die Möglichkeit geben, nicht dem direkten Weg zu 
						folgen, sondern sich auch von anderen Pfaden leiten zu lassen. 
						Diese Wege führen immer wieder an verschiedenen Grün- und 
						Aktionsflächen entlang. Einheitliche Gestaltungselemente, wie 
						wegebegleitendes Mobiliar, sollen eine Zusammengehörigkeit 
						auf dem Campusgelände schaffen. Auch entlang des Land-wehrkanals findet sich das Thema des schnellen, direkten und 
						das des indirekten Weges wieder, die sich immer wieder kreu-zen. Ein Platz im Norden soll einen Eingang in das Gebiet mar-kieren und eine Öffnung zum Landwehrkanal bieten. Der Platz 
						soll auch als Informationsplattform über die Universitäten sowie 
						als Wegweiser für den Campus dienen. 
				 	 </p>
				 	 
				 	 <p>
						Das „grüne Auge“ auf dem Nordcampusgelände versucht den 
						Bezug zum Wasser herzustellen. Der Platz überwindet die 
						noch vorhandene, jedoch verkehrsberuhigte Straße und mar-kiert den Übergang zum Salzufer. Der Platz treppt sich in groß-zügige Stufen zum Kanal hin ab. Die im Westen und Osten 
						an den Platz angrenzenden Pflanzplateaus richten sich zum 
						Wasser aus und dienen zum einen als Pflanzinseln und zum 
						anderen als Aufenthaltsort. Verschattet wird dieser Bereich urch Kugel-Ahorne.
				 	 </p>
				 	 
				 	 	</td>
				 	 		
				 	 </table>
				 	 
				</div>


		</div>
	
	
	<div id="header_6">
		<h4>156. Schinkel Wettbewerb</h4>
	</div>
		<div id="underheader_4">
		<div id ="projects_underheader">Berlin - Die unbedingte Universität: „Science City“
kontakt home</div>	
	</div>
		
	<div class="ph-line-nav nav">
		<ul>
			<a href="home">home</a>
			<a href="kontakt">kontakt</a>
			<a href="projekte">projekte</a>
			
			<div class="effect"></div>
		</ul>
	</div>
	
	</div>
	
</body>

</html>