<% provide(:title, 'Master Thesis') %>

<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="custum.css">
		<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
	   	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> 
 	</head>
 	
 	
   	<body>
		<div id="webseite">
			<div id= "menue">
		
			<div id="review">
			
			
			</div>
			
			<div id="review2">
			
			</div>
			
			<div id="skillbar">
		
			</div>

		</div>
	
	
	<div id="header_2">
	</div>
		
	<div class="ph-line-nav nav">
		<ul>
			<a href="home">home</a>
			<a href="kontakt">kontakt</a>
			<a href="projekte">projekte</a>
			
			<div class="effect"></div>
		</ul>
	</div>
	
	</div>
	
</body>

</html>