<% provide(:title, 'Stegreif') %>

<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="custum.css">
		<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
	   	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> 
 	</head>
 	
 	
   	<body>
		<div id="webseite">
				<!-- wrapper element for the large image -->
				<div id="image_wrap">
				 	 <!-- Initially the image is a simple 1x1 pixel transparent GIF -->
				  	<img src="/p2/stegreif.png" width="500" height="375" /> 	
				</div>
				
				<!-- wrapper element for the large image -->
				<div id="text_area">
				 	 
				 	<table class="image_text">
					<tr>
						<td>
							
							<br />
					<strong id="strong">Planungsgebiet</strong>
				 	 <p>
						Das Planungsgebiet umfasst einen ca. 450m langen Strand 
						am südlichen Ufer des Klinger Sees, westlich des Freilichtmu-seums Klinge. Der Klinger See ist Teil einer Bergbaufolgeland-schaft und soll in ca. 20 Jahren seinen geplanten Pegel erreicht 
						haben. Um das Seeufer herum wachsen bisher größtenteils 
						Nadelhölzer und „Pioniergewächse“ wie Robinien. 
						Die günstige Lage von Klinge zwischen Cottbus und Forst, 
						sowie die Anbindung an Landstraße, Bahn und ein regionales 
						Radwegsystem sind als Potential hervorzuheben.
				 	 </p>
				 	 
					<strong id="strong">Konzept</strong>
				 	 <p>
						Der Klinger Südstrand soll sich in Zukunft als ein Naherho-lungsort für alle Generationen entwickeln. Um dies zu errei-chen werden Aktivitäten für jedes Alter angeboten. Entlang des 
						wellenförmigen Reliefs befinden sich in die Landschaft integ-rierte Bereiche für die verschiedenen Nutzungen, je nachdem 
						auf einer Rasenfläche oder dem Sand. Dieses Relief wird durch zwei Gebäude und den aufgeforsteten Nadelwald im Rücken 
						gerahmt. 
						Das Gefälle ist ungleichmäßig angelegt: An den „Spitzen“ der 
						Grünflächen ist das Gefälle am steilsten und flacht sich hin zu 
						„Kulen“ ab, um einen angenehmen Aufstieg zu ermöglichen. 
						So erschafft man eine topographische Abgrenzung der Nutzun-gen. 
						Auf den wellenförmigen Grünflächen sollen große, ausladende 
						Laubbäume gepflanzt werden, um den Besuchern im Sommer 
						schattige Rückzugsorte zu gewähren
				 	 </p>
				 	 
				 	 	</td>
				 	 		
				 	 </table>
				 	 
		</div>
	<div id="header_4">
		<h4>Stegreif</h4>
	</div>
		<div id="underheader_2">
		<div id ="projects_underheader">Ufergestaltung Bergbaufolgelandschaft Klinge / 2.Preis</div>	
	</div>
		
	<div class="ph-line-nav nav">
		<ul>
			<a href="home">home</a>
			<a href="kontakt">kontakt</a>
			<a href="projekte">projekte</a>
			
			<div class="effect"></div>
		</ul>
	</div>
	
	</div>
	
</body>

</html>