<% provide(:title, 'Home') %>

<html>
	
	<link rel="stylesheet" type="text/css" href="design.css">
	
<head>
</head>
<body>
	<div id="webseite">
	<div id="header">
	<h1>onlineportfolio</h1>
	</div>
		<div id="links">
		<ul class="linkbar">
			<li><%= link_to "home", "#" %></li>
			<li><%= link_to "kontakt", "#" %></li>
			<li><%= link_to "projekts", "#" %></li>
			
		<ul/>
		</div>
	
</body>
</html>